#container{
    position: relative;
    width: 350px;
    height: 375px;
    /* left: 50%;
    top: 50px;
    transform: translate(-50%); */
  }
  
  #center{
    position:absolute;
    width:80px;
    height:80px;
    opacity:80%;
    border-radius:50%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
  
  .petal{
    position:absolute;
  }
  
  #petal-container{
    position:absolute;
    width:200px;
    height:200px;
    left:175px;
    top:calc(375px / 2);
  }
  
  .node{
    position:absolute;
    width: 100px;
    height: 100px;
    opacity:60%;
    border-radius: 100% 0 100% 0;
    background-color:#69140E;
  }
  
  #node1{
    transform: rotate(-120deg);
    left:-40px;
  }
  
  #node2{
    left:40px;
    transform: rotate(30deg);
  }
  
  #node3{
    transform: rotateY(180deg);
    left:-45px;
    top:-50px;
  }
  
  #node4{
    left:45px;
    top:-50px;
  }
  
  #node5{
    top:-90px;
    transform:rotate(-45deg);
  }

  #big-container{
    display:flex;
    position:relative;
    flex-wrap:wrap;
    width:800px;
    left:50%;
    top:80px;
    justify-content:center;
    align-items:center;
    transform: translate(-50%);

  }
  #words{
    flex-wrap:wrap;
    font-family: "haboro-serif", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    /* position:absolute; */
    /* justify-content:center; */
    /* left:calc(50% - 150px); */
    display:flex;
    width:300px;
    color: #0E1428;
    padding:0;
    margin:0;
    /* text-align:left; */
    line-height: 1.1;
    /* padding-left:30px; */

  }

  #controls{
    display:flex;
    flex-wrap:wrap;
    width: 150px;
    right:0px;
    justify-content:center;
    margin-left:20px;
    font-family:Georgia;
    /* top:-100px; */
    top:100px;
    right:0px;
    position:relative;
  }

  #randomize{
    font-family:Georgia;
    font-size: 16px;
    /* font-weight:bold; */
  }

  .slider-box{
    display:flex;
    width:150px;
    /* border:1px solid black; */
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    align-content:center;
    padding-top:10px;
  }

  #petal-color{
    margin:0px;
    padding:0px;
  }

  #center-color{
    margin:0px;
    padding:0px;
  }

  #user-bouba{
    margin:0px;
    padding:0px;
  }

.slider-label{
  margin:0px;
  padding-bottom:10px;
  padding-top:5px;
}